.idea
.vscode
.mypy_cache
data
.venv

__pycache__/

src/resources/bin/*
src/resources/database/*
src/workspace/terraform/*
src/workspace/documentation_processing/*
.env
.env.dev

mongo-keyfile-local

log.txt
repomix-*
test_artifacts/

docs
